* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1 {
    color: #FFF685;
}

.heading-container {
    padding: 4px;
    background-color: #0049B7;
}

.search-form-container {
    padding: 10px;
}

.search-bgnd {
    background-color: #FF1D58;
}

.user-search-label {
    font-size: 20px;
    font-weight: 600;
    color: #FFF685;
}

.search-input {
    width: 100%;
    height: 40px;
    border-color: lightgrey;
    border-width: thin;
    padding: 0 15px;
}

.btn {
    padding: 10px 15px;
    margin: 1vh;
    background-color: #00DDFF;
    border-radius: 15%;
}

.user-history-container {
    padding: 10px;
    background-color: #FFF685;
}

.past-search {
    background-color: #0049B7;
    border-width: bold;
    border-color: lightgrey;
    border-style: solid;
    border-radius: 3px;
    margin: 3px;
    text-align: left;
    width: 350px;
    height: 40px;
    line-height: 45px;
    padding: 0 20px;
    color: white;
}

.now-weather {
    border-color: #0049B7;
    background-color: #FFF685;
    border-style: solid;
    border-radius: 3px;
    margin: 23px 0 0 23px;
    padding: 0 0 15px 0;
    color: #FF1D58;
}

.now-title-container {
    display: flex;
}

.now-title {
    font-size: 40px;
    margin: 15px 0 20px 20px;
}

.now-icon {
    width: 80px;
    height: 80px;
}

.now-temp, .now-humid, .now-wS {
    margin: 15px 20px;
    font-size: 20px;
}

.now-uv {
    font-size: 20px;
    display: inline;
    margin: 0 0 0 20px;
}

.current-number {
    font-size: 20px;
    display: inline;
    color: white;
    padding: 10px 12px;
}

.best {
    background-color: green;
}

.better {
    background-color: yellow;
}

.bad {
    background-color:red;
}

.new-weather-container {
    margin: 5px 20px 20px;
}

.new-weather-title {
    font-size: 27px;
}

.new-card-details {
    width: 17%;
    padding: 7px 0 0 7px;
}

.new-card {
    background-color: #FF1D58;
    border-radius: 5%;
}

.new-date {
    font-size: 23px;
}

.future-icon {
    width: 50px;
    height: 50px;
    margin: 0 0 0 15px;
}

.new-temp, .new-humid {
    font-size: 17px;
    font-weight: 200;
}